[extendedLocalePicker]
==
<nav class="navbar">  
     <div class="langs">
         {% component 'extendedLocalePicker' %}
     </div>
     <a href="#" class="logo">Grzegorz Czekaj - Web Developer</a>           
    <ul class="main-nav">
        <li><a href="#home" class="nav-links">Home</a></li>
        <li><a href="#a1" class="nav-links">{{ 'O mnie'|_ }}</a></li>
        <li><a href="#a2" class="nav-links">{{ 'Moje prace'|_ }}</a></li>
        <li><a href="#a3" class="nav-links">{{ 'Technologie'|_ }}</a></li>
        <li><a href="#a4" class="nav-links">{{ 'Kontakt'|_ }}</a></li>
    </ul>
    <span class="navbar-toggle">
            <i class="fas fa-bars"></i> 
        </span>
</nav>