==
<?php
use  \Grzegorzczekaj\Portfolio\Models\Portfolio;

function onStart()
{
    $this['portolio'] = Portfolio::where('show',1)->get();
   // $this['portolio'] = Portolio::where('show', 1)->get();
 // $cat = Categories::where('slug',$slugcat)->first();
}
?>
==
<div>

<div class="portfolio">
    {% for record in portolio %}
        <figure>
            <img src="{{ record.image|media }}" alt=""/>
            <figcaption>
                <!-- <h2> {{ record.name }}</h2> -->
                <a href="{{ 'portfolio'|page({'slug': record.slug}) }}">Więcej</a>
                
                <p></p>
            </figcaption>
        </figure>
    {% endfor %}
</div>

</div>