$primary-color: #eeeaf7;
$kolor2: #203a39;

//@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&subset=latin-ext');

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: $primary-color;
   // font-family: 'Ubuntu', sans-serif;
}

// do layout3

.container {
  display: flex;
  flex-direction: row;
  //pod grid (stare)łłłł$ł
  //display: grid; 
  //grid-template-columns: repeat(3, 1fr);
 // grid-template-columns: 1fr 1fr 1fr;
  //grid-template-rows: 1fr 1fr 1fr 1fr;
  //grid-gap: 5px;
  //grid-row-gap: 10px;
  /* grid-template-areas: 
  "header"
  "art1"
  "art2"
  "footer" */
}

.header {
  background-color: #90a9c0;
  display: flex;
  //pod grid (stare)
 // grid-column: 1 / span 3;
 // grid-column-start: 1;
 // grid-column-end: 4;

  //pod grid
  /* grid-area: header;
  height: 100vh; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 8px; */
}

.art1 {
  //grid-column-start: 1;
  //grid-column-end: 4;
  //grid-row-start: 2;
  //grid-row-end: 3;
  background-color: #d1c95d;
  grid-area: art1;
}
.art2 {
  //grid-column-start: 1;
  //grid-column-end: 4;
  //grid-row-start: 3;
  //grid-row-end: 4;
  background-color: #822196;
  grid-area: art2;
}
.footer {
  //grid-column-start: 1;
  //grid-column-end: 3;
  //grid-row-start: 4;
  //grid-row-end: 5;
  color: #cabfbf;
  background-color: #312d31;
  grid-area: footer;
}

//.start {
 // grid-area: start;
  //color: #fff;
 // grid-template-rows: 2rem;
 // grid-column-start: 1;
 // grid-column-end: -1;
  //grid-row-start: 2;
  //grid-row-end: 3;
  //
  
//}
/*
.start {
  background-color: #aeb63d;
}
nav {
  grid-area: navi;
}

main {
  grid-area: main;
}

.box { 
  background-color: #2f4d75;
  color: #eeeaf7;
  padding: 10px 10px;
}

.start1 {
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: end;
  align-self: end;
  
}
.start2 {
  grid-column-start: 2;
  grid-column-end: 3;
  border: solid 2px #fff;
  
}
.start3 {
  grid-column-start: 3;
  grid-column-end: 4;
  
}


*/


.navbar {
  font-size: 18px;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    grid-column: 1 / span 3;
}
.main-nav {
  display: flex;
  list-style-type: none;
  margin-right: 30px;
  flex-direction: row;
  justify-content: flex-end;
  //do grid
  //list-style-type: none;
  //display: none;
}
.nav-links {
  text-decoration: none;
    color: rgba(255, 255, 255, 0.702);
}
.nav-links:hover {
  color:#daabab;
}
.main-nav li {
  text-align: center;
  // do grid
 // margin: 15px auto;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer; 
  color: rgba(255,255,255,0.8);
  font-size: 24px;
}
.active {
  display: block;
}
.logo {
  opacity: 0 ;
}

@media screen and (min-width: 768px) {
  .container {
    display: grid; 
    grid-template-areas: 
    "header"
    "art1"
    "art2"
    "footer"
  }
  .header {
    background-color: #90a9c0;
    //pod grid
    grid-area: header;
    height: 100vh; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 8px;
  }

  .navbar-toggle {
    display: none;
}
.nav-links {
  margin-left: 40px;
}
  .logo {
    opacity: 1 ;
  }
  .navbar {
    font-size: 18px;
      background-image: linear-gradient(260deg, #2f393f 0%, #c9a327   100%);
      
  }
}