==
<!DOCTYPE html>
<html lang="{{ this.theme.site_locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ this.page.description }}">

    <title>{% if this.page.title %}{{ this.page.title}} &#124; {% endif %}{{ this.theme.site_title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ 'assets/vendor/bootstrap/css/bootstrap.min.css' | theme }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ 'assets/vendor/font-awesome/css/font-awesome.min.css' | theme }}">
    <link rel="stylesheet" href="{{ 'assets/vendor/simple-line-icons/css/simple-line-icons.css' | theme }}">


    <!-- Theme CSS -->
    <link href="{{ ['assets/scss/theme2.scss']|theme }}" rel="stylesheet">

    <!-- Animate CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
    {% styles %}

</head>

<body class='container'>
    <header>
        <nav>
            nawigacja
        </nav>
    </header>
    <main>
        {% page %}
    </main>
<footer>
<p>footer</p>
</footer>


<script src="{{ 'assets/vendor/jquery/jquery.min.js' | theme }}"></script>
<script src="{{ 'assets/vendor/bootstrap/js/bootstrap.min.js' | theme }}"></script>
<script src="{{ 'assets/vendor/jquery-easing/jquery.easing.min.js' | theme }}"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/debug.addIndicators.min.js"></script>

{% scripts %}

</body>
</html>
